.tavo-image {
  width: 100px; 
  height: 2%;

}

  
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300vh; 
    text-align: center;
  }
  
  .big-link {
    font-size: 5em; 
    color: blue;
    text-decoration: none;
  }
  
  
