.tavo-image {
  width: 10px;  /* adjust as needed */
  height: 50%; /* keeps the aspect ratio */

}

  
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200vh; /* vh is viewport height */
    text-align: center;
  }
  
  .big-link {
    font-size: 2em; /* em is relative to the current font-size */
    color: blue;
    text-decoration: none;
  }
  
  
